@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: Poppins !important;
  background-color: rgb(25,39,52) !important; 
}
.d-flex.align-items-center.justify-content-between.mx-3.my-2 {
  background: aliceblue;
  padding-left: 7%;
  padding-right: 5%;
}

.mt-4.mb-3 {
  font-family: "Madimi One", sans-serif;
}

tr{
  color: antiquewhite;
}
.tabe{
  color: antiquewhite !important;
}


.text-center.col-md-4 {
  background-color: rgb(167, 228, 178);
}
.search-bar {
  transition: all 0.3s ease-in-out;
  border-color: #ccc;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selected-mentor {
  animation: fadeIn 0.5s ease-in-out;

}

.mt-4.mb-3.d-inline-block {
  font-family: "Madimi One", sans-serif;
}

.navbar-brand {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem !important;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.navbar-nav {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem !important;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  

}
.container-fluid {
  background-color: antiquewhite;
}
.form-label{
  font-family: "Fjalla One", sans-serif;
  font-weight: 300 !important;
}
.card-body{
  font-family: "Fjalla One", sans-serif;

}
.mt-3.container-fluid {
  background-color: cadetblue;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media (max-width: 1024px) {
  .navBorder {
    border: none !important;
    padding: 0 !important;
    padding: 10px 0px !important;
  }
}
